# 淘宝npm镜像（解决npm下载慢）
registry=https://registry.npmmirror.com
# Electron镜像（解决electron下载慢）
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/